@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Space between icon and label */
}

.icon .label {
    max-width: 0;
    /* Start with zero width */
    transition: max-width 0.5s ease;
    /* Smooth transition for hover effect */
    display: inline-block;
    /* Use inline-block for transition effect */
    vertical-align: middle;
    /* Align text vertically */
    overflow: hidden;
    /* Hide overflow text */
    white-space: nowrap;
    /* Prevent text wrapping */
}

.icon:hover .label {
    max-width: 100px;
    /* Provide enough width for label text */
}

/* Cursor pointer on hover and underlining the text */
.icon:hover img,
.icon:hover .label {
    cursor: pointer;
    text-decoration: underline;
}